<!doctype html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Medical Jobs</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <style>
               #banner{
                width:100%;
                height:500px;
                object-fit:cover;
               }
               @media only screen and (min-device-width : 320px) and (max-device-width : 480px)
               {
                    #banner{
                        width:100%;
                        height:300px;
                        object-fit:cover;
                        }
                }

        </style>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center bg-primary text-light mt-1 p-4 mb-1 text-uppercase">{{name}}</h1>
            <img src="./static/image.jpg" class="img-fluid" id="banner" alt="hero image" />
            <p class="lead mt-3">
                Hello my name is Mahsum this is my project to show you the availabe job positions. Please be member of our forum to comment and apply for jobs
            </p>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <p class="lead">
                        Welcome to our platform for medical job openings. We understand that finding the right job in the medical field can be a daunting task. We are here to help you navigate through the job search process and assist you in finding a job that suits your qualifications and career goals.
                    </p>
                    <p class="lead">
                        At our platform, we have brought together employers from various medical fields to provide job openings for candidates with diverse skills and qualifications. Our user-friendly interface allows you to browse through different job categories, including nursing, dental, physical therapy, physician assistants, and many more. Each job opening includes a detailed job description, qualification requirements, and location information.
                    </p>
                    <p class="lead">
                        At our platform, we are committed to providing dependable, trustworthy, and reliable services to help you find your dream job. We believe that matching qualified candidates to job openings is vital, and we strive to provide innovative job search solutions to meet the diverse needs of job seekers and employers. Whether you are a recent graduate or looking for a career change, we have the tools and resources to help you reach your career goals.
                    </p>
                </div>

                <div class="d-md-none d-lg-block col-lg-6">
                    <img class="img-fluid" src="../static/image1.jpg" />
                </div>
            </div>
            <p class="lead">To make api calls use <a href="/api">this link.</a></p>
            <div class="row">
                {% for job in jobs %}
                   {% include "jobs.html" %}

                {% endfor %}
            </div>
            <footer class="text-center text-secondary fs-5 p-3">{{name}}- Made by Dr.Mahsum Alyanak with ❤️</footer>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    </body>
</html>